html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* 1. Change the color of the numbers/links */
.pagination .page-link {
    color: #333; /* Dark text */
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    /* 2. Change the color when hovering over numbers */
    .pagination .page-link:hover {
        color: #000;
        background-color: #f8f9fa;
        border-color: #dee2e6;
    }

/* 3. Change the "Active" page color */
.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: deepskyblue; 
    border-color: black;
}

/* 4. Change the "Disabled" button color */
.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}