
body {
    background-color: #0f172a;
    color: white;
    overflow-x: hidden;
    font-family: 'Roboto','Poppins';
}

.custom-btn {
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.rounded-5 {
    border-radius: 2rem !important;
}

/* Shimmer Effect for Hero Only */
.shimmer-text {
    color: #fff;
    background: linear-gradient(to right, #fff 20%, #0d6efd 50%, #fff 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
    display: inline-block;
}

@keyframes shine {
    0% {
        background-position: 200% center;
    }

    100% {
        background-position: -200% center;
    }
}

/* Section 2 Specifics */
.text-secondary {
    color: #94a3b8 !important;
}
/* Softer grey for readability */

.carousel-item img {
    filter: brightness(0.9);
    transition: transform 0.8s ease;
}

/* Icon Import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
